<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="<%= htmlWebpackPlugin.options.base %>">
    <title>Groupifier</title>
  </head>
  <body class="user-signed-out">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
          <i class="material-icons app-icon">group</i>
        </div>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Groupifier</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" id="sign-in-link" data-user-signed-out href="">Sign In With WCA</a>
            <a class="mdl-navigation__link" id="sign-out-link" data-user-signed-in href="">Sign Out</a>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="mdl-grid">
          <div class="mdl-layout-spacer"></div>
          <!-- Presentation content. -->
          <div class="mdl-cell mdl-cell--6-col" data-user-signed-out>
            <h3>What is Groupifier?</h3>
            <p>
              It is a tool meant for <a href="https://www.worldcubeassociation.org/" target="_blank">WCA</a> competition organizers.
              Its main objective is to simplify the process of splitting competitors into groups
              and provide the best result with minimal configuration.
            </p>
            <h3>What does it do?</h3>
            <ul class="mdl-list">
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">check</i>
                  Automatically calculates a suitable group size.
                </span>
              </li>
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">check</i>
                  Assigns tasks to people (scrambling, judging). Allows to select scramblers manually from a list.
                </span>
              </li>
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">check</i>
                  Sorts competitors by their official results, so that each subsequent group represents a better level.
                  When told otherwise, minimizes the amount of people with the same name in each group.
                </span>
              </li>
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">check</i>
                  Handles events being held simultaneous by creating separate groups for people taking part in both main and side event.
                </span>
              </li>
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">check</i>
                  Generates PDFs containing scorecards, personal cards with task assignment and a summary for each round.
                </span>
              </li>
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">check</i>
                  Fetches cutoffs and time limits from the WCA website and puts them on scorecards.
                </span>
              </li>
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">check</i>
                  Optionally sets the number of scramble groups for each round based on advancement conditions
                  and saves that to the WCA website, so there is no need for entering them manually.
                </span>
              </li>
            </ul>
          </div>
          <!-- The actual application content. -->
          <div class="mdl-cell mdl-cell--6-col" data-user-signed-in>
            <p>
              Make sure to enter events data (cutoffs, time limits, advancement conditions)
              for the given competition on the WCA website first.
              Once this is done select the competition and a CSV file with registrations,
              then specify configuration options.
            </p>
            <p>
              The tool will split competitors into groups, assign tasks to them (scrambling and judging),
              and finally generate scorecards, personal cards and a summary PDF (may take a while).
            </p>
            <form action="#">
              <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                <select id="competition-select" class="mdl-selectfield__select"></select>
                <label class="mdl-selectfield__label" for="competition-select">Competition</label>
                <span class="mdl-selectfield__error">you have no upcoming competitions to manage</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="file-name-input" disabled pattern=".*\.csv">
                <label class="mdl-textfield__label" for="filen-name-input">Registrations CSV</label>
                <span class="mdl-textfield__error">must be a CSV file</span>
              </div>
              <div class="mdl-button mdl-button--primary mdl-button--icon">
                <label for="file-input">
                  <i class="material-icons">attach_file</i>
                </label>
                <input class="hidden-file-input" type="file" id="file-input" accept=".csv">
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="stations-input">
                  The number of solving stations.
                </div>
                <input class="mdl-textfield__input" type="text" id="stations-input" pattern="\d*">
                <label class="mdl-textfield__label" for="stations-input">Stations count</label>
                <span class="mdl-textfield__error">must be a natural number</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="scramblers-input">
                  The number of scramblers to generate for each round.
                </div>
                <input class="mdl-textfield__input" type="text" id="scramblers-input" pattern="\d*">
                <label class="mdl-textfield__label" for="scramblers-input">Scramblers count</label>
                <span class="mdl-textfield__error">must be a natural number</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="staff-judges-input">
                  The number of staff judges that you provide on your own (e.g. volunteers).
                  <br>If you want the application to generate all the judges, set this to 0.
                  <br>Trick: if you want N more judges than stations (e.g. some runners) set this to -N (negative number).
                </div>
                <input class="mdl-textfield__input" type="text" id="staff-judges-input">
                <label class="mdl-textfield__label" for="staff-judges-input">Staff judges count</label>
              </div>
              <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="sort-by-results-label">
                Sorts competitors by official rankings, so that each subsequent group represents a better level.
                <br>When disabled, minimizes the amount of people with the same name in each group.
              </div>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="sort-by-results-label" for="sort-by-results-input">
                <input class="mdl-checkbox__input" type="checkbox" id="sort-by-results-input" checked>
                <span class="mdl-checkbox__label">Sort competitors by their results</span>
              </label>
              <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="set-scramble-groups-count-label">
                Sets the number of scramble groups for each round and saves that to the WCA website,
                so there is no need for entering them manually.
              </div>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="set-scramble-groups-count-label" for="set-scramble-groups-count-input">
                <input class="mdl-checkbox__input" type="checkbox" id="set-scramble-groups-count-input" checked>
                <span class="mdl-checkbox__label">Set scramble groups count on the WCA website</span>
              </label>
              <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="skip-managers-label">
                Prevents from assigning tasks (scrambling, judging) to delegates and organizers, as long as this is possible.
              </div>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="skip-managers-label" for="skip-managers-input">
                <input class="mdl-checkbox__input" type="checkbox" id="skip-managers-input" checked>
                <span class="mdl-checkbox__label">Skip delegates and organizers during task assignment</span>
              </label>
              <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="skip-youngs-label">
                Prevents from assigning tasks (scrambling, judging) to competitors under the specified age, as long as this is possible.
              </div>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="skip-youngs-label" for="skip-youngs-input">
                <input class="mdl-checkbox__input" type="checkbox" id="skip-youngs-input" checked>
                <span class="mdl-checkbox__label">
                  <span>Skip competitors under</span>
                  <div class="mdl-textfield mdl-js-textfield tasks-min-age">
                    <input class="mdl-textfield__input" type="text" id="tasks-min-age-input" pattern="\d*" value="8">
                  </div>
                  <span>during task assignment.</span>
                </span>
              </label>
              <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="skip-newcomers-label">
                Prevents from assigning tasks (scrambling, judging) to first-time competitors, as long as this is possible.
              </div>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="skip-newcomers-label" for="skip-newcomers-input">
                <input class="mdl-checkbox__input" type="checkbox" id="skip-newcomers-input">
                <span class="mdl-checkbox__label">Skip newcomers during task assignment</span>
              </label>
              <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="judge-own-events-only-label">
                Prevents from assigning judging to people in events they haven't registered for, as long as this is possible.
                <br>Note: this is likely to make the number of tasks per person inconsistent.
              </div>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="judge-own-events-only-label" for="judge-own-events-only-input">
                <input class="mdl-checkbox__input" type="checkbox" id="judge-own-events-only-input">
                <span class="mdl-checkbox__label">Assign judging to people only in events they registered for</span>
              </label>
              <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="ask-for-scramblers-label">
                Makes the application ask the user to select scramblers from a list for each round.
              </div>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="ask-for-scramblers-label" for="ask-for-scramblers-input">
                <input class="mdl-checkbox__input" type="checkbox" id="ask-for-scramblers-input">
                <span class="mdl-checkbox__label">Ask me to select scramblers manually</span>
              </label>
              <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="prefer-local-names-label">
                Swaps latin names with local names in parentheses.
              </div>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="prefer-local-names-label" for="prefer-local-names-input">
                <input class="mdl-checkbox__input" type="checkbox" id="prefer-local-names-input">
                <span class="mdl-checkbox__label">Prefer local names</span>
              </label>
              <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="export-json-label">
                Generates a JSON file with by-person data.
              </div>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="export-json-label" for="export-json-input">
                <input class="mdl-checkbox__input" type="checkbox" id="export-json-input">
                <span class="mdl-checkbox__label">Export people as JSON</span>
              </label>

              <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="show-signature-label">
                Show column for scrambler's signature.
              </div>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="show-signature-label" for="show-signature-input">
                <input class="mdl-checkbox__input" type="checkbox" id="show-signature-input" checked>
                <span class="mdl-checkbox__label">Show scrambler blah TODO</span>
              </label>
              <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="show-checker-label">
                Show column for scramble checker's signature.
              </div>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="show-checker-label" for="show-checker-input">
                <input class="mdl-checkbox__input" type="checkbox" id="show-checker-input" checked>
                <span class="mdl-checkbox__label">Show scramble checker blah TODO</span>
              </label>

              <div>
                <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="simultaneous-events-label">
                  Creates separate groups for people starting in side events that are being held at the same time.
                  <br>E.g. use it to make all FMC participants start in the first group of 3x3x3 Cube,
                  so that all of them can do a FMC attempt afterwards.
                  <br>Important: select event pairs only for <strong>first rounds</strong> of the main events.
                  Don't specify events if you don't want to have such separate groups,
                  e.g. in case people are given the whole day to do their MBLD attemps.
                </div>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="simultaneous-events-label" for="simultaneous-events-input">
                  <input class="mdl-checkbox__input" type="checkbox" id="simultaneous-events-input">
                  <span class="mdl-checkbox__label">Simultaneous events</span>
                </label>
                <table id="simultaneous-events-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">Main event</th>
                      <th class="mdl-data-table__cell--non-numeric">Side event</th>
                      <th class="mdl-data-table__cell--non-numeric"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="simultaneous-events-form">
                      <td class="mdl-data-table__cell--non-numeric">
                        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label event-selectfield">
                          <select id="main-event" class="mdl-selectfield__select"></select>
                        </div>
                      </td>
                      <td class="mdl-data-table__cell--non-numeric">
                        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label event-selectfield">
                          <select id="side-event" class="mdl-selectfield__select"></select>
                        </div>
                      </td>
                      <td class="mdl-data-table__cell--non-numeric">
                        <button type="button" class="mdl-button mdl-js-button mdl-button--primary mdl-button--icon" id="add-simultaneous-events">
                          <i class="material-icons">add</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="actions">
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised" id="generate" disabled>Generate</button>
              </div>
            </form>
          </div>
          <div class="mdl-layout-spacer"></div>
        </div>
      </main>
      <div class="loading-screen" data-loading>
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
      <footer class="mdl-mini-footer app-footer">
        <div class="mdl-mini-footer__left-section">
          <ul class="mdl-mini-footer__link-list">
            <li>
              Made with <i class="material-icons">favorite</i>
              by <a href="https://github.com/jonatanklosko" target="_blank">Jonatan Kłosko</a>
            </li>
          </ul>
        </div>
        <div class="mdl-mini-footer__right-section">
          <ul class="mdl-mini-footer__link-list">
            <li>
              <a href="https://github.com/jonatanklosko/groupifier" target="_blank">
                <img src="https://png.icons8.com/ios-glyphs/28/9e9e9e/github.png" alt="GitHub">
              </a>
            </li>
            <li>
              <a href="mailto:jonatanklosko@gmail.com" target="_blank">
                <i class="material-icons">email</i>
              </a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
    <!-- Feature toast -->
    <div class="mdl-js-snackbar mdl-snackbar" id="feature-toast">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
  </body>
</html>
