<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="<%= htmlWebpackPlugin.options.base %>">
    <title>Groupifier</title>
  </head>
  <body>
    <div>
      <input type="file" id="file-input">
      <label for="stations-input">Stations count</label>
      <input type="text" id="stations-input">
      <label for="scramblers-input">Scramblers count</label>
      <input type="text" id="scramblers-input">
      <label for="scramblers-input">External judges count</label>
      <input type="text" id="external-judges-input">
      <button id="generate">Generate</button>
    </div>
  </body>
</html>
