<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="<%= htmlWebpackPlugin.options.base %>">
    <title>Groupifier</title>
  </head>
  <body>
    <div>
      <input type="file" id="file-input">
      <button id="generate">Generate</button>
    </div>
  </body>
</html>
