/* Roboto font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
/* Material icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* General */

html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

header .app-icon {
  font-size: 32px;
}

/* Make the footer appear at the very bottom of the screen even if the main element is empty. */
main {
  flex-shrink: 0;
}

/* Form */

.hidden-file-input {
  display: none;
}

.event-selectfield {
  width: auto;
  padding: 0;
}

.event-selectfield, .event-selectfield * {
  font-size: inherit;
}

.tasks-min-age {
  display: inline-block;
  width: 20px;
  padding: 0;
}

/* Show the simultaneous events table if the checkbox is checked. */
label[for="simultaneous-events-input"]:not(.is-checked) + #simultaneous-events-table {
  display: none;
}

.actions {
  padding-top: 20px;
}

/* Dialog */

.scramblers-dialog,
.scorecards-dialog {
  max-width: 80%;
  width: 400px;
}

.scramblers-dialog .scramblers-list {
  overflow: auto;
  height: 300px;
}

.scorecards-dialog .competition-name {
  font-weight: bold;
}

/* Loading screen */

.loading-screen {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* Footer */

.app-footer {
  flex: none; /* See https://stackoverflow.com/a/37446769 */
  padding-top: 16px;
  padding-bottom: 16px;
}

.app-footer .material-icons {
  vertical-align: middle;
}

/* Modifiers conditionally displaying content depending on the application state (indicated by the body class). */

body:not(.user-signed-in) [data-user-signed-in] {
  display: none;
}

body.user-signed-in [data-user-signed-out] {
  display: none;
}

body.loading main {
  display: none;
}

body:not(.loading) [data-loading] {
  display: none;
}
