/* Roboto font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
/* Material icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.app-footer {
  padding-top: 16px;
  padding-bottom: 16px;
}

.app-footer .material-icons {
  vertical-align: middle;
}

.hidden-file-input {
  display: none;
}

.app-icon {
  font-size: 32px;
}

/* Modifiers conditionally displaying content depending on whether the user is signed in or not. */

body:not(.user-signed-in) [data-user-signed-in] {
  display: none;
}

body.user-signed-in [data-user-signed-out] {
  display: none;
}

.actions {
  padding-top: 20px;
}

.scramblers-dialog {
  width: 400px;
}

.scramblers-dialog .scramblers-list {
  overflow: auto;
  height: 300px;
}

.event-selectfield {
  width: auto;
  padding: 0;
}
.event-selectfield, .event-selectfield * {
  font-size: inherit;
}

label[for="simultaneous-events-input"]:not(.is-checked) + #simultaneous-events-table {
  display: none;
}

/* Make the footer appear at the very bottom of the screen even if the main element is empty. */
main {
  flex-shrink: 0;
}

.loading-screen {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

body.loading main {
  display: none;
}

body:not(.loading) .loading-screen {
  display: none;
}
