/* Roboto font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
/* Material icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.hidden-file-input {
  display: none;
}

.actions {
  padding-top: 20px;
}

.scramblers-dialog.mdl-dialog > .mdl-dialog__content {
  overflow: auto;
  height: 400px;
}
